@keyframes fadeIn {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 32px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  padding: 16px;
  transform: scale(0.7);
  animation-delay: 0.1s;
  z-index: 10;
  animation: fadeIn var(--animation-delay) var(--animation-type) forwards;

  & h2 {
    font-size: 2rem;
  }

  & > * {
    text-align: center;
  }
}
.inner {
  max-width: 100%;
  word-wrap: break-word;
}