@import './fonts/stylesheet.css';

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  user-select: none;
  -webkit-user-drag: none;
  cursor: default;
  vertical-align: baseline;
  background: transparent;
}

code {
  user-select: auto;
  word-wrap: break-word;
  display: block;
  font-size: 16px;
  font-family: inherit;
  opacity: 0.7;
  margin: 10px 0;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background: hsla(210, 16%, 11%, 1) linear-gradient(45deg, hsla(210, 16%, 11%, 1) 10%, hsla(210, 16%, 19%, 1));
  font-family: "Proxima Nova", Arial, Helvetica, Helvetica Neue, sans-serif;
  overflow-y: hidden;
  font-size: 18px;

  --animation-delay: 150ms;
  --animation-type: cubic-bezier(.06,.67,.37,.99);
  --navigating-transition: 8%;
  --accent-color: hsla(210, 16%, 11%, 1);
  --navigating-transition-negative: -8%;

  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    height: 10%;
    top: 0;
    width: 100%;
    -webkit-app-region: drag;
  }
}

h2 {
  margin: 0;
  font-size: 190%;
  font-weight: 200;
  color: #fff;
}

p {
  font-size: 19px;
  margin-top: 15px;
  user-select: text;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.8px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}