.root {
  height: calc(100vh - 125px);
  transition: var(--animation-delay) opacity var(--animation-type),
  var(--animation-delay) transform var(--animation-type);
  opacity: 0;
  transform: translateY(var(--navigating-transition));

  display: flex;
  padding: 60px 30px 40px;
  flex-direction: column;
}

.appeared {
  opacity: 1;
  transform: translateY(0%);
}

.hey {
  margin-top: 40px;
}

.time {
  color: #fff;
  letter-spacing: 1.5px;
  margin-top: 40px;
}

.button {
  text-align: center;
  flex-grow: 1;
  margin-top: 70px;
}

.circle {
  position: relative;
  margin-top: 20px;
}

@keyframes cardIn {
  0% {
    opacity: 0;
    transform: translateY(2em)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

.hardware {
  margin-bottom: 10px;
  opacity: 0;
  transform: translateY(2em);
  animation: cardIn var(--animation-delay) var(--animation-type) forwards;
  display: flex;
  user-select: text;
  position: relative;

  align-items: center;
  background-color: rgba(255, 255, 255, 0.07);
  padding: 10px 20px;
  border-radius: 6px;
}

.behind {
  z-index: 2;
}

@for $i from 1 through 10 {
  .hardware:nth-child(#{$i}) {
    animation-delay: #{$i * 0.2}s;
  }
}

.hardware * {
  user-select: text;
}

.model {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.unavailable {
  flex-grow: 1;
  position: relative;
  z-index: 1;

  &:hover + .reasonContainer {
    transform: translateY(10px);
    opacity: 1;
    z-index: 5;
  }

  & span {
    opacity: 0.5;
    flex-grow: initial;
  }

  & div {

  }
}

.reasonContainer {
  transition: var(--animation-delay) all var(--animation-type);
  position: absolute;
  opacity: 0;
  z-index: 0;
  background: #fff;
  padding: 10px;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 0px 5px);
  border-radius: 4px;
  color: var(--accent-color);
  transform: translateY(30px);
}

.warning {
  max-width: 21px;
  height: 21px;
  margin-left: 10px;
}

.power {
  opacity: 0.65;
  white-space: nowrap;
}

.hardwares {
  margin-top: 3px;
  user-select: text;
}

.badge {
  font-size: 16px;
  opacity: 0.8;
  margin-top: 10px;
  text-transform: uppercase;
}

.header {
  opacity: 0.45;
  font-weight: 400;
  font-size: 19px;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 0.45px;
}

.blurred {
  filter: blur(6px);
  opacity: 0.4;
}

.benchmarks {
  display: flex;
  flex-direction: column;
}

.benchmark {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benchmarkMonthly {
  font-size: 160%;
}

.benchmarkText {
  opacity: 0.7;
  font-size: 80%;
}

.earnWithWhat {
  opacity: 0.9;
  margin-top: 20px;
}

.scrollable {
  flex-grow: 1;
  overflow-y: auto;
}

.final {
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.3s all;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0);

}

@keyframes doneIn {
  0% {
    transform: translateY(140px);
  }
  100% {
    transform: translateY(0);
  }
}
.done {
  text-align: center;
  position: fixed;
  bottom: -73px;
  left: 0;
  width: 100%;
  background: rgb(49, 54, 60);
  padding-bottom: 10px;
  box-shadow: 0px -6px 57px 0 rgba(0,0,0,0.05);
  animation: doneIn var(--animation-delay) var(--animation-type) forwards;
  transition: var(--animation-delay) bottom var(--animation-type);
}

.transformDone {
  bottom: 0;
}

.doneInner {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
}

.doneAmount {
  font-size: 170%;
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.donePerMonth {
  font-size: 59%;
  opacity: 0.8;
  padding-left: 10px;
}

.doneDescription {
  margin-top: 10px;
  opacity: 0.8;
}