.icon {
  max-width: 19px;
  opacity: 0.8;
  cursor: pointer;
}

.spinner {
  animation: spinner 3s var(--animation-type) infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}