.root {
  height: 100%;
  transition: var(--animation-delay) opacity var(--animation-type),
  var(--animation-delay) transform var(--animation-type);
  opacity: 0;
  transform: translateY(var(--navigating-transition));

  display: flex;
  padding: 60px 30px 40px;
  flex-direction: column;
}

h2 {
  font-size: 160%;
}

.appeared {
  opacity: 1;
  transform: translateY(0%);
}

.hey {
  margin-top: 40px;
}

.time {
  color: #fff;
  letter-spacing: 1.5px;
  margin-top: 5px;
}

.button {
  text-align: center;
  flex-grow: 1;
  margin-top: 30px;
}

.checkingOut {
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.checkingOutText {
  margin-left: 10px;
  margin-top: 0;
}

.padding {
  margin-top: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  animation: fadeIn 250ms cubic-bezier(.77,0,.175,1) forwards;
  animation-delay: 250ms;
}

.warn {
  color: rgb(255, 157, 31);
  font-weight: 600;
  margin-right: 5px;
}

.success {
  color: #23c320;
  font-weight: bold;
}

.spinnerWrapper {
  margin-left: 0;
  opacity: 1;
  transition: margin-left 150ms cubic-bezier(.77,0,.175,1), opacity 250ms linear;
}

.checked .spinnerWrapper {
  margin-left: -30px;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    margin-top: 20px;
    height: 44px;
  }
}

.buttons > * + * {
  margin-left: 5px;
}

.headerWithHelp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}