.root {
  --worker-opacity: 1;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: calc(100vh - 100px);
}

.overflowing {
  overflow-y: scroll;
}

.padded {
  margin-top: 30px;
}

.inputContainer {
  margin-bottom: 20px;
}

.input {
  justify-content: flex-start;
}

.input > span {
  flex-grow: inherit;
  min-width: 0;
}

.counterHead {
  opacity: 0.5;
  letter-spacing: .15rem;
  font-weight: 400;
  font-size: 14px;
}

.counterValue {
  margin-top: .6rem;
  font-weight: 400;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.counterValue > div:first-child {
  font-size: 70%;
  margin-right: 5px;
}

.currencySymbol {
  font-size: 80%;
  color: #A8A8A8;
  margin-right: 5px;
  margin-left: 5px;
}

.equal {
  margin: 0 3px;
  color: #A8A8A8;
}

.counter {
  flex: 3;
}
.counter + .counter {
  margin-left: 40px;
  flex: 3;
}
.row {
  margin-top: 25px;
  display: flex;
}

.playArea {
  padding: 18px 18px 18px 0;
  cursor: pointer;
}

.playArea:hover .playButton {
  transform: translateY(-.1rem);
}

.playArea:active .playButton {
  transform: translateY(.2rem);
}

.playButton {
  cursor: pointer;
  color: rgb(255, 231, 144);
  transition: var(--animation-delay) all var(--animation-type);
  background: transparent;
  border: none;
  font-size: inherit;
  padding: 0;
}

.playButton[disabled] {
  opacity: 0.6;
}

.header {
  opacity: 0.5;
  letter-spacing: .15rem;
  font-weight: 400;
  font-size: 14px;
  margin: 10px 5px;
}

.runAll {
  padding: 0 19px;
  margin-top: 14px;
}

.disappearing {
  transform: scale(3);
  opacity: 0;
}

.pick {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select {
  background: transparent;
  border: none;
  font: inherit;
  color: #fff;
  font-size: 90%;
  width: 100px;
  height: 30px;
}

.label {
  opacity: 0.7;
  font-size: 86%;
  flex-grow: 1;
}

.switcher {
  max-height: 60px;
  overflow: hidden;
}

.switcherIn {
  height: 1000%;
  transform: translateY(0);
  transition: var(--animation-delay) transform var(--animation-type);
}

.switcherIn > div {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.minerActive {
  transform: translateY(-51%);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.icon {
  max-height: 25px;
  opacity: 0.8;
  cursor: pointer;
  transition: var(--animation-delay) transform var(--animation-type);
}

.icon:hover {
  opacity: 1;
  transform: translateY(-3px);
}

option {
  background: rgb(49, 54, 61);
}

.period {
  opacity: 0.7;
  font-size: 85%;
  margin-left: 5px;
}

.layers {
  display: flex;
  flex-direction: column;
  position: relative;
  contain: layout;
  overflow: hidden;
  flex: 1 1 auto;
}

.layer {
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;

  padding: 35px 30px 40px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: hsla(210, 16%, 11%, 1) linear-gradient(45deg, hsla(210, 16%, 11%, 1) 10%, hsla(210, 16%, 19%, 1));
  opacity: 0.8;
  transform: scale(1.13);
  transition: 180ms transform var(--animation-type), 140ms opacity cubic-bezier(0.4,0.0,1,1);
  will-change: transform, opacity;
}

.darwin {
  padding: 50px 30px 40px;
}

.reverse {
  transform: scale(0.85) translateZ(0px);
}

.shown {
  opacity: 1;
  z-index: 2;
  transform: scale(1)  translateY(0);
  transition: 250ms transform var(--animation-type), 90ms opacity cubic-bezier(0.4,0.0,1,1);
  transition-delay: 10ms;
}

.animationDone {
  transform: none!important;
}

.menu {
  margin-left: 5px;
}

.menuPick {
  padding: 10px;
  transition: 0.2s background-color ease;
  color: #484a55;
  background: #fff;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  font-size: 90%;
}

.menuPick * {
  cursor: pointer;
}

.menuPick:hover {
  background-color: #f2f2f2;
}

.delimiter {
  width: 100%;
  border-bottom: 1px solid  #f2f2f2;
}

.menuPick + .menuPick {
  padding-top: 10px;
}
