.root {
  -webkit-box-flex: 0;
  flex: 0 0 36px;
  margin-right: 10px;
  margin-top: -5px;
  position: relative;
  width: 60px;
}

.button {
  align-items: center;
  border-radius: 50%;
  border-color: #72767d;
  border-style: solid;
  border-width: 1.5px;
  cursor: pointer;
  display: flex;
  flex: 0 0 32px;
  height: 32px;
  width: 32px;
  justify-content: center;
  position: fixed;
}

.button:hover {
  background-color: hsla(218,5%,47%,.3);
}

.text {
  opacity: 0.5;
  letter-spacing: .07rem;
  font-weight: 400;
  font-size: 14px;
  margin-top: 40px;
  position: fixed;
  text-align: center;
  width: 36px;
}