@font-face {
	font-family: 'Proxima Nova';
	src: url('./ProximaNova-Regular.woff2');
	src: url('./ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('./ProximaNova-Regular.woff2') format('woff2'),
		url('./ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./ProximaNova-Extrabld.eot');
  src: url('./ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
  url('./ProximaNova-Extrabld.woff2') format('woff2'),
  url('./ProximaNova-Extrabld.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}


@font-face {
	font-family: 'Proxima Nova';
	src: url('./ProximaNova-Bold.woff2');
	src: url('./ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('./ProximaNova-Bold.woff2') format('woff2'),
		url('./ProximaNova-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('./ProximaNova-Light.woff2');
	src: url('./ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('./ProximaNova-Light.woff2') format('woff2'),
		url('./ProximaNova-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
