.toast {
  position: absolute;
  bottom: -50px;
  max-height: 44px;
  height: 100%;
  left: 0;
  width: 100%;
  font-size: 96%;
  z-index: 1;
  transition: var(--animation-delay) bottom var(--animation-type);
  margin-left: 0;
  background: #da4141;

  justify-content: space-between;
  display: flex;
  align-items: center;
}

.message {
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: text;
  overflow: hidden;
  margin-left: 0;
}

.animating {
  transition: 2s margin-left;
}

.show {
  bottom: 0;
}

.close {
  max-width: 15px;
  padding-right: 11px;
  cursor: pointer;
}